#container {
    width: 80%;
    margin: 50px auto;
}

.introduction{
    max-height: 100vh;
    height:100%;
    overflow: hidden;
    position: relative;
}

.button {
    background-image: url('../images/btn_blanc_2.png') !important;
    background-color: rgba(0,0,0,0) !important;
    border-radius: 50%;
    background-size:100%;
    width: 3em !important;
    height: 3em !important;
    z-index:800;
}

.popup {
    background-color: rgba(255, 255, 255, .80);
    padding:20px;
    margin-left: 1.5em;
    width:25vw;    
}

.popup > h3 {
    color: #333 !important;
    position: relative;
    padding-bottom:10px;
    text-transform: uppercase;
    font-size:1.2em;
    font-weight:600;
}

.popup > p {    
    color: #333 !important;
    margin-top:15px;
    font-size:1em;
    font-weight:300;
}

.popup > p:last-child{    
    text-transform:uppercase;
    font-weight:600;
    font-size:0.9em;
}

.popup > span {
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
}

.popup > h3:before {
    content: "";
    position: absolute;
    width: 15%;
    height: 4px;
    bottom: 0;
    right: : 25%;
    border-bottom: 4px solid #e3213e;

}