#container {
    width: 80%;
    margin: 50px auto;
}

.button {
    background-image: url('../img/BTN.png') !important;
    border-radius: 50%;
    background-size:100%;
    width: 2em !important;
    height: 2em !important;
}

.popup {
    background-color: rgba(255, 255, 255, .75);
    padding: 0px 15px !important;
    margin-left: 1em;
    width: 200px;
}

.popup > span {
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
}

.popup > h1:after {
    display: block;
    height: 2px;
    width: 50px;
    color: #FFEE88;
}