<html>
	<head>
	{% stylesheets
	    'css/jquery.tagsinput.css'
	    filter='cssrewrite' output='css/compiled/app.css' %}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
		
	</head>
	<body>
		{{ form(form)}}
	</body>
	{% javascripts 
	'js/jquery-3.1.1.js'  
    'js/jquery.tagsinput.js'      
    %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
</html>